# Папка сборки Vercel
.vercel/

# Зависимости
node_modules/

# Файлы окружения (если будешь использовать)
.env
.env.local
.env.*.local
secrets.json

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Системные файлы macOS и Windows
.DS_Store
Thumbs.db

# Файлы кэша и конфигурации редакторов кода
.vscode/
.idea/
*.log

# Скрываем ключи и админку
m0derati0n.html

# Скрываем временные файлы и сборки
dist/
supabase/.temp/
.env